<!DOCTYPE html>
<html>
	<head>
		<title>
			TextonVideo
		</title>
	</head>
	<body>
		<div>
		 	<video autoplay loop style="position:absolute; z-index:-1000">
	        	<source src="http://website.inmobicdn.net/0.0.9/v3/videos/bg_ver_3.mp4" type="video/mp4">
	    	</video>
		</div>
		<div style="position: absolute; top:300px; left:300px; z-index:1;">
			<h1> This is text overlaid on video</h1>
		</div>
	</body>
</html>